#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: small;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.btn {
    border: none;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    margin: 1rem 0;
}

.btnImage {
    object-fit: cover;
    height: 0.75rem;
    width: 0.75rem;
    margin: 1rem;
}

@media screen and (max-width:645px){
    .bg {
        right: -10vw;
    }
    .introText {
        font-size: 8vw;
    }
    .hello {
        font-size: 4vw;
    }
}

@media screen and  (max-width:375px){
    .bg {
        right: -20vw;
    }
}

